
@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url(ptsans.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url(ptsans_bold.ttf);
    font-weight: bold;
}
* {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
    box-sizing: border-box;
}
body {
	font-family: 'PT Sans', sans-serif;
    margin: 0px;
    padding: 0px;
	min-width: 1240px;
}


.container:after {
    content: "";
    display: block;
}
.head {
    background-image: url("./starost_images/granny.jpg");
    background-size: cover;
    height: 630px;
}
.wrapper {
    margin: 0px auto;
    padding: 20px 50px 20px 50px;

}
.logo {
    float: left;
}
.clearfix:after,
.clearfix:before {
    content: ".";
    display: table;
}
.clearfix:after {
    clear: both;
}
.citata {
    position: absolute;
    bottom: 0;
    right: 5%;
    top: 383px;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -75px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.content {
    margin: 0 auto;
    width: 1240px;
}
.headcontent {
    margin: 0 auto;
    width: 1240px;
    position: relative;
}
.insidecontent {
    text-align: center;
    margin-bottom: 50px;
} 

.work-years {
    background-image: url("./starost_images/pic1.jpg");
    background-size: cover;
    height: 525px;
}

.block-numbers {
    margin-top: 80px;
}
.numbers {
    width: 296px;
    height: 100px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}
.can-you-help {
text-align: center;
}

.map {
    background-size: cover;
    width: 100%;
    margin: 0 auto;
}

.nav-tabs>li>a {
    color: #555;
}
.nav-tabs>li.active>a
{
/*color:#555;*/
margin-left: auto;
margin-right: auto;
}
.nav>li {
    position: relative;
    display: block;
    width: 309px;
}

.tabpanel {
    overflow: hidden;

}
.tab-pane {
overflow: hidden;
}
.tab-pane>.content {
    
}
#text1 {
    z-index: 4;
}
 #text2 {
    z-index: 3;
}
#text3 {
    z-index: 2;
}
#text4 {
    z-index: 1;
}
#text2,
#text3,
#text4 {
    display: none;
}

.tab-content  {
    height: 868px;
    margin: 0 auto;
    min-width: 1240px;
    background-image: url("./starost_images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
}

.leavecontacts {
    width: 590px;
    margin: 0 auto;
}
.contacts {
    width: 100%;
    margin: 0 auto;
}
.footer, .page-wrap:after {
    height: 75px;
   
    }

    .footer {
        
        background-color: #000000;
        text-align: center;
        margin-top: 58px;
    }
.copy {
    
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    float:left;
    
}
.socialnetwork {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    float: left;
    }


.stazirovka {
    width: 200px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    float: left;
}
.designedby {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    float: left;
}

.copy, .socialnetwork, .stazirovka, .designedby {
   width: 25%;
   padding-top: 15px;
}
img.facebook {

}
.clear {}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 50px;
    text-align: left;
}
h2 {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    color: #3f3329;
    padding-top: 95px;
    padding-bottom: 35px;
}

h2.cwe {
	font-family: 'PT Sans', sans-serif;
    font-size: 42px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding-top: 80px;
}
span.cwe1{
    text-decoration: none;
	font-family: 'PT Sans', sans-serif;
    font-size: 70px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #35da6a;
    position: relative;
}
span.java {
color: #4a4646;
text-transform: uppercase;
font-size: 16px;
line-height: 30px;
font-weight: 700;
border-bottom: 1px dashed #4a4646;
display: inline-block;
}

span.java:hover {
    color: #2bbd5a;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    border-bottom: 1px dashed #2bbd5a;
}

h2.cwe2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 42px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    color: #443939;
    margin-bottom: 26px;

}
h2.cwe3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 42px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    color: #443939;
    margin-bottom: 26px;
}
h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
h3.can1-you-help {
    font-family: 'PT Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #443939;
    padding-top: 90px;
    padding-bottom: 60px;
}
h3.can1-you-help1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #443939;
    padding-top: 80px;
    padding-bottom: 30px;
}
h3.letters {
    font-family: 'PT Sans', sans-serif;
    font-size: 42px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin-top: 57px;
    padding-bottom: 55px;
}

p.c {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
}
p.c1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #494747;
    text-align: center; 
    margin-bottom: 50px;
}
p.c2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #fafafa;
    text-align: center;
}
p.c3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #c0c3c1;
    text-transform: uppercase;
}
p.text1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

p.letters1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}
p.text {
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    color: #e1e1e1;
}
 

.svg-pict {
    height: 221px;
    width: 300px;
    display: inline-block;
    text-align: center;
}
/*.svg-pict1 {
    height: 221px;
    width: 300px;
    display: inline-block;
    text-align: center;
}*/
.menu {
    float: right;
}
.menu a:hover {
    /*color: #a8d3b6;
    /*background-color: #5abb64; /*фон пунктов при наведении*/
    
    background: rgba(18, 31, 21, 0.7);
}
.menu ul ul {
    display: none;
}
.menu ul li:hover >ul {
    display: block;
}
.menu ul {
    list-style: none;
    position: relative;
    display: inline-table;
}
.menu ul:after {
    content: "";
    clear: both;
    display: block;
}

.menu ul li {
    float: left;
}
.menu ul li:hover {
background: rgba(30, 48, 39, 0.7);
background: linear-gradient(top, rgba(18, 31, 21, 0.7) 0%, #5f6975 40%);
background-image: background: -webkit-linear-gradient(rgba(18, 31, 21, 0.7) 0%, rgba(18, 31, 21, 0.7) 40%);
background-image: background: -o-linear-gradient(rgba(18, 31, 21, 0.7) 0%, rgba(18, 31, 21, 0.7) 40%);
background-image: background: linear-gradient(rgba(18, 31, 21, 0.7) 0%, rgba(18, 31, 21, 0.7) 40%);
background: -webkit-linear-gradient(top, rgba(18, 31, 21, 0.7) 0%,rgba(18, 31, 21, 0.7) 40%);
    }

.menu ul li:hover a {
    color: #a8d3b6;
}
.menu ul li a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-style: 14px;
    line-height: 25px;
    font-weight: 400;
    padding: 3px 15px;
    color: #fff;

}
.menu ul ul {
    position: absolute;
    padding: 0;
    top: 100%;
}
.menu ul ul li {
    float: none;
    border-top: 2px solid transparent;
    position: relative;
}
.menu ul ul li a {
    font-family: 'PT Sans', sans-serif;
    font-style: 14px;
    line-height: 25px;
    font-weight: 400;
    padding: 3px 15px;
    color: #fff;

} 

.article p {
    color: #363e3e;
    text-align: center;
}

.article h1 {
    color: #35da6a;
    text-align: center;
}
.text {
    display: inline-block;
}
img.pic {
    position: absolute;
    margin: -12px 0px 0px 12px; 
}
.block-pic {
    width: 80px;
    height: 25px;
}

.img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
}
img.granny {
    height: 683px;
    float: left;
    padding-right: 40px;
    margin-left: 40px;

}

.letters2 {
    float: left;
    overflow: hidden;
    width: 57%;
    margin-left: -20px;
    margin-right: -100%;
   

    margin-top: 20px;
   
}
a.underline {
    text-decoration: none;
}
a:link, a:visited {

}

a {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
}
.block-links {
    float: left;

}
a.block {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #8c8a8a;
    margin-left: 6px;
    text-transform: uppercase;
    border-bottom: #8c8a8a 1px dashed;
    display: block;
}
a.links {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #8c8a8a;
    text-transform: uppercase;
    border-bottom: #8c8a8a 1px dashed;
    margin-right: 77px;
}
a.links1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #8c8a8a;
    text-transform: uppercase;
    border-bottom: #8c8a8a 1px dashed;
    margin-right: 85px;
}
a.links:hover {
    color: #36bf61;
    border-bottom: #36bf61 1px dashed;
}
a.links1:hover {
    color: #36bf61;
    border-bottom: #36bf61 1px dashed;
}
a {
    display: block;
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
    cursor: pointer;
    opacity: 0, 5;
}
a.popularquestions {
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    display: inline-block;
}
a.popularquestions:hover {
    font-family: 'PT Sans', sans-serif;
    color: #35da6a;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    dispaly: inline-block;
}
a.triangle {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 6px solid #35da6a;
    border-bottom: 6px solid transparent;
    position: absolute;
    margin-top: 12px;
    margin-left: 0px;
    display: inline-block;
}


ul {
	display: block;
}
.menu >li {
    border: 0px solid black;
    padding: 15px 10px;
}
li {
	display: list-item;
	text-align: : -webkit-match-parent;
}

:after, :before {
box-sizing: border-box;
}




input {
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: #e1e1e1;
	height: 57px;
	width: 463px;
	padding: 10px;
}
.input {
    width: 100%;
    max-width: 469px;
    margin: 0 auto;
}

input.class1 {
	height: 215px;
	width: 467px;
	margin-bottom: 48px;
    text-align: left;


}

form {

}
button {
	width: 465px;
	height: 48px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	background-color: #2bbd5a;
	color: #ffffff;
    border: 0;
    margin-top: 35px;
}
button.wrightletter {
    width: 250px;
    height: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    background-color: transparent;
    border: 1px solid;
    color: #33f070;
    display: inline-block;
    margin-left: 20px;
    transition: all 0.15s all ease-in-out 0s;
    position: absolute;
}
button.wrightletter:hover {
    width: 250px;
    height: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    background-color: #33f070;
    border: 0px solid;
    color: #ffffff;
    display: inline-block;
    margin-left: 20px;
    position: absolute;
}

textarea {
	height: 239px;
	width: 463px;
	padding: 10px;
    resize: none;
	}